.notification {
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
}
.notification h3 {
  color: #ffffff;
}
.success {
  background-color: green;
}
.error {
  background-color: red;
}
