.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.spinner {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.half_spinner {
  width: 50px;
  height: 50px;
  border: 3px solid #2f86a6;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear 0s infinite;
}
.completed {
  font-size: 2rem;
  color: green;
  animation: bigger 0.7s linear;
}
@keyframes bigger {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
